.BasicPageMainContainer {
  align-items: center;
  background-color: var(--Shade-Dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.MainPageButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.PageTitle {
  color: #ffffff;
  font-size: 2rem;
}
