.MainContainer {
  width: 800px;
  height: 600px;
  border: 2px solid var(--Shade-Light);
  background-color: var(--Info);
  padding: 5;
}

.PlayStopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ControlContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 0 20px 0;
}

.PadContainer {
  display: flex;
}
